/* Global */
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    position: relative;        
    background-size: cover;
    background-repeat: repeat;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Top bar */
.topBar{
    width: 100%;
    height: 70px;
    background-color: #111111;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contactWrapper{
    margin-left: auto;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.contactWrapper a {
    color: white;            /* same as top bar text */
    text-decoration: none;   /* remove underline */
    font-weight: normal;
    font-size: 16px;
}

.contactWrapper a:hover {
    text-decoration: underline; /* optional hover effect */
    color: #12b4ff;             /* optional hover color */
}

.navButtons{
    display: flex;
    gap: 10px;
    margin-left: 40px;
}

.navButtons a {    
    padding: 6px 12px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s;
    font-size: 20px;
    height: 100%;
}

.navButtons a.active {
    background-color: #ffffff;
    color: black;
}

.navButtons a:hover {
    background-color: #ffffff;
    color: black;
}

/* Title card */
.titleCard{
    width: 100%;
    height: 300px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    position: relative;
    background-color: black;
    z-index: -2;
}

#showReel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.6;
    filter: blur(0.1rem);    
}

.gameTypeWrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 0px;
}

.gameType{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #ffffff;
}