/* Global */
html{
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: relative;        
    background-size: cover;
    background-repeat: repeat;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Top bar */
.topBar{
    width: 100%;
    height: 70px;
    background-color: #111111;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contactWrapper{
    margin-left: auto;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.contactWrapper a {
    color: white;            /* same as top bar text */
    text-decoration: none;   /* remove underline */
    font-weight: normal;
    font-size: 16px;
}

.contactWrapper a:hover {
    text-decoration: underline; /* optional hover effect */
    color: #12b4ff;             /* optional hover color */
}


/* Title card */
.titleCard{
    width: 100%;
    height: 300px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
    position: relative;
    background-color: black;
    z-index: -2;
}

#showReel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.6;
    filter: blur(0.1rem);    
}

.gameTypeWrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 0px;
}

.gameType{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #ffffff;
}


/* Content */
.sectionTitle{
    color: rgb(121, 121, 121);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;    
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;    
}

.professionalGamesSection{    
}

.personalGamesSection{    
}

.gameCardWrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.gameCard{
    display: flex;
    flex-direction: column;
    background-color: #111111;
    overflow: hidden;
    width: 19%;
    padding-bottom: 10px;
    margin: .5%;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.gameCard * {
    pointer-events: none;
}

.gameCard:hover {    
    transform: scale(1.02);    
}

.gameImage{
    width: 100%;
    aspect-ratio: 1;    
    overflow: hidden;
    display: flex;
    background-position: center;
    background-size: cover;
}

.gameInfoWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.gameTitleWrapper {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameTitle{
    color: white;
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 30px;
    text-align: center;
    margin: 10px; 
}

.gameProductionDate{
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;    
}

.gameTagWrapper{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;        
}

.gameTag{
    background-color: #12b4ff;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}